html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    display: flex;
    justify-content: center;
}

.main {  
  height: 80vh;
  width: 65vh;
  margin-top: 5vh;
  border: solid;
}

.screen {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 15%;
    border: solid;
    font-size: 9.5vh;
}

.buttons-panel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 85%;
    border: solid;
}

.equals {
  grid-column-start: 3;
  grid-row-start: 4;
  grid-row-end: 6;
}

.clear {
  grid-column-start:1 ;
  grid-column-end: 3;
}
